.App{
    font-family:Arial, Helvetica, sans-serif
}
.active{
   
    color:rgb(219, 83, 83)
  }
  .navTextColor{
    color:rgb(137, 116, 116)
  }
  .active:hover{
    color:rgb(255, 255, 255)
  }
  .navTextColor:hover{
    color:rgb(255, 255, 255)
  }

  
  
  /* Track */
  .custom-scroll-bar::-webkit-scrollbar-track {
    background: #222222;
  }
  
  /* Handle */
  .custom-scroll-bar::-webkit-scrollbar-thumb {
    background: rgb(224, 201, 251);
  }
  
  /* Handle on hover */
  .custom-scroll-bar::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 190, 245);
  }

  .custom-scroll-bar-live::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
  .custom-scroll-bar-live::-webkit-scrollbar-track {
    background: #222222;
  }
  
  /* Handle */
  .custom-scroll-bar-live::-webkit-scrollbar-thumb {
    background: rgb(224, 201, 251);
  }
  
  /* Handle on hover */
  .custom-scroll-bar-live::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 190, 245);
  }